@import "../../partials/mixins";

.employees {
  &__container {
    list-style: none;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__item {
    width: 30%;
    height: 400px;
    background-color: $primary-light;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba($color: $primary-brand, $alpha: 0.2);
    border-radius: 10px;
    @include flex-column;
    overflow: hidden;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  &__name {
    height: 20%;
    display: flex;
    align-items: center;
    color: $primary-brand;
    font-weight: bold;
    font-size: 2rem;
  }
}
