@import "../../partials/mixins";

.new {
  @include path;

  &__heading {
    @include heading;
  }

  &__form {
    @include flex-column;
    margin-top: 4rem;
    gap: 4rem;
  }
  &__description {
    outline: 1px solid $secondary-medium;
    border-radius: 4px;
    background-color: $primary-light;
    padding: 0.75rem;
    margin-bottom: 1rem;

    resize: none;

    &:focus {
      outline: 2px solid $primary-brand;
    }

    &::placeholder {
      color: $primary-brand;
      font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    }
  }

  &__btn {
    @include button-primary;
    background-color: $primary-brand;
    color: $primary-light;
    border: 1px solid $primary-brand;

    &:hover {
      background-color: $primary-light;
      color: $primary-brand;
    }
  }

  &__item {
    width: 30%;
    height: 300px;
    background-color: $primary-light;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba($color: $primary-brand, $alpha: 0.2);
    border-radius: 10px;
    @include flex-column;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  &__name {
    height: 20%;
    display: flex;
    align-items: center;
    color: $primary-brand;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__selected {
    color: $primary-light;
    background-color: $primary-brand;
  }
}
